@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    scroll-behavior: smooth;
}
.app {
    min-height: 100vh;
    background-color: #fff;
    color: #000;
    padding-top:60px;
}
.pagetitle {
    color: #000;
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #ff0000;
    text-underline-offset: 8px;
}
.container {
    display: flex;
    gap: .8rem;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.card-pic{
    border: 1px solid #000;
    padding: 10px;
    margin-bottom: 1.5rem;
    margin-right: .5rem;
    width: 300px;
    background-color: #262626;
    height: auto;
    color: #fff;
}
.card-pic img {
    width: 100%;
}
.card-summary {
    display: flex;
    flex-direction: column;
}
.card-rate{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-top:10px;
}
.select {
    width: 180px;
}
.select option {
    width: 100%;
    scrollbar-width: thin;

}